
@{
    ViewBag.Title = "PatientError";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}

<h2>PatientError</h2>
<hgroup>
    <h1>Error 1.</h1>
    <h2>An error occurred while processing your request.</h2>
</hgroup>
