
@{
    ViewBag.Title = "MyHealthRecord";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}

<h2>MyHealthRecord</h2>

<div class="card">
    <div class="card-header" style="background-color: #1434A4;">
        <h1 class="card-title text-white">My Health Record</h1>
        <span style="color: red;"><b>Keep your records updated at all times.</b></span>
    </div>
    <!-- Card Header -->
    <div class="card-body">
        <table class="table table-sm table-responsive table-hover" id="table">
            <thead>
                <tr>
                    <th scope="col">Category</th>
                    <th scope="col">Date Created</th>
                    <th scope="col">Date Modified</th>
                    <th scope="col">Time Modified</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="@Url.Action("PersonalDetails","Patient")">Personal Data</a></td>
                    <td>06-Oct-2022</td>
                    <td>12-Feb-2023</td>
                    <td>12:22:03 PM</td>
                </tr>
                <tr>
                    <td><a href="EmergencyContacts.html">Parent/Guardin</a></td>
                    <td>06-Oct-2022</td>
                    <td>12-Feb-2023</td>
                    <td>12:22:03 PM</td>
                </tr>
                <tr>
                    <td><a href="@Url.Action("Insurance","Patient")">Insurance</a></td>
                    <td>06-Oct-2022</td>
                    <td>12-Feb-2023</td>
                    <td>12:22:03 PM</td>
                </tr>
                <tr>
                    <td><a href="Allergy.html">Allergy</a></td>
                    <td>06-Oct-2022</td>
                    <td>12-Feb-2023</td>
                    <td>12:22:03 PM</td>
                </tr>
                <tr>
                    <td><a href="HospitalDetails.html">Hospital Admissions</a></td>
                    <td>06-Oct-2022</td>
                    <td>12-Feb-2023</td>
                    <td>12:22:03 PM</td>
                </tr>
                <tr>
                    <td><a href="@Url.Action("PhysicianDetails","Patient")">Physicians</a></td>
                    <td>06-Oct-2022</td>
                    <td>12-Feb-2023</td>
                    <td>12:22:03 PM</td>
                </tr>
                <tr>
                    <td><a href="doc-visit.html">Doctor Office Visits</a></td>
                    <td>06-Oct-2022</td>
                    <td>12-Feb-2023</td>
                    <td>12:22:03 PM</td>
                </tr>
                <tr>
                    <td><a href="medication.html">Current Medication</a></td>
                    <td>06-Oct-2022</td>
                    <td>12-Feb-2023</td>
                    <td>12:22:03 PM</td>
                </tr>
                <tr>
                    <td><a href="pharma.html">Favorite Pharmacy</td>
                    <td>06-Oct-2022</td>
                    <td>12-Feb-2023</td>
                    <td>12:22:03 PM</td>
                </tr>
                <tr>
                    <td><a href="clinic-history.html">Clinical History</td>
                    <td>06-Oct-2022</td>
                    <td>12-Feb-2023</td>
                    <td>12:22:03 PM</td>
                </tr>
                <tr>
                    <td><a href="vital-signs.html">My Vital Signs</td>
                    <td>06-Oct-2022</td>
                    <td>12-Feb-2023</td>
                    <td>12:22:03 PM</td>
                </tr>
                <tr>
                    <td><a href="diary.html">My Health Diary</td>
                    <td>06-Oct-2022</td>
                    <td>12-Feb-2023</td>
                    <td>12:22:03 PM</td>
                </tr>
                <tr>
                    <td><a href="ccr.html">CCR</td>
                    <td>06-Oct-2022</td>
                    <td>12-Feb-2023</td>
                    <td>12:22:03 PM</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>