
@{
    ViewBag.Title = "PersonalDetails";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}

@*<h2>PersonalDetails</h2>*@
<div id="wrapper" class="card">
    <div class="card-header" style="background-color: #1434A4;">
        <h1 class="card-title" style="color: #fff;">PERSONAL DATA</h1>
    </div>
    <div id="page-wrapper" class="card-body">
        <form name="formValidation" ng-submit="submitForm(formValidation.$valid)" novalidate>
            <span id="lblMessage" runat="server"></span>
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title" style="color: #1434A4;">
                        Personal Details
                        <span style="font-size: 12px;"><a style="color: red;" id="help" onclick="helpclick(this)" href="#">Help?</a></span>
                    </h2>
                </div>
                <div class="card-body">
                    <div class="row g-2">
                        <div class="col-md-2">
                            <label class="form-label">First Name <span style="color: red;">*</span></label>
                            <asp:TextBox ID="txtFirstname" CssClass="form-control" placeholder="First Name" runat="server"></asp:TextBox>
                            <asp:RequiredFieldValidator ID="RequiredFieldValidator2" ValidationGroup="personal"
                                                        Display="Dynamic" ControlToValidate="txtFirstname" runat="server" ErrorMessage="Please enter First Name"></asp:RequiredFieldValidator>
                            <asp:RegularExpressionValidator ID="RegularExpressionValidator5" runat="server" ControlToValidate="txtFirstname"
                                                            ValidationGroup="personal" ForeColor="Red" Display="Dynamic" ErrorMessage="Must be Alphabetic"
                                                            ValidationExpression="([a-zA-Z]\s*)+"></asp:RegularExpressionValidator>
                        </div>
                        <div class="col-md-2">
                            <label class="form-label">Middle Name</label>
                            <asp:TextBox ID="txtMiddleName" CssClass="form-control" placeholder="Middle Name"
                                         runat="server"></asp:TextBox>
                            <asp:RegularExpressionValidator ID="RegularExpressionValidator9" runat="server" ControlToValidate="txtMiddleName"
                                                            ValidationGroup="personal" ForeColor="Red" Display="Dynamic" ErrorMessage="Must be Alphabetic"
                                                            ValidationExpression="([a-zA-Z]\s*)+"></asp:RegularExpressionValidator>
                        </div>
                        <div class="col-md-2">
                            <label class="form-label">Last Name <span style="color: red">*</span></label>
                            <asp:TextBox ID="txtLastName" CssClass="form-control" placeholder="Last Name" runat="server"></asp:TextBox>
                            <asp:RequiredFieldValidator ID="RequiredFieldValidator3" ValidationGroup="personal"
                                                        Display="Dynamic" ControlToValidate="txtLastName" runat="server" ErrorMessage="Please enter Last Name"></asp:RequiredFieldValidator>
                            <asp:RegularExpressionValidator ID="RegularExpressionValidator2" runat="server" ControlToValidate="txtLastName"
                                                            ValidationGroup="personal" ForeColor="Red" Display="Dynamic" ErrorMessage="Must be Alphabetic"
                                                            ValidationExpression="([a-zA-Z]\s*)+"></asp:RegularExpressionValidator>
                        </div>
                        <div class="col-md-2">
                            <label class="form-label">Date of Birth <span style="color: red">*</span></label>
                            <div class='input-group date' id='div_txtDOB'>
                                <asp:TextBox ID="txtDOB" CssClass="form-control" placeholder="MM/DD/YYYY" runat="server"></asp:TextBox>
                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                            </div>
                            <asp:RequiredFieldValidator ID="RequiredFieldValidator4" ValidationGroup="personal"
                                                        Display="Dynamic" ControlToValidate="txtDOB" runat="server" ErrorMessage="Please enter Date of Birth"></asp:RequiredFieldValidator>

                        </div>
                        <div class="col-md-2">
                            <label class="form-label">Gender <span style="color: red">*</span></label>
                            <asp:DropDownList ID="ddlGender" runat="server" CssClass="form-select"></asp:DropDownList>
                            <asp:RequiredFieldValidator ID="RequiredFieldValidator5" ValidationGroup="personal" InitialValue="0"
                                                        Display="Dynamic" ControlToValidate="ddlGender" runat="server" ErrorMessage="Please select Gender"></asp:RequiredFieldValidator>
                        </div>
                        <div class="col-md-2">
                            <label class="form-label">
                                SSN (Last 4 digits)<span style="color: red">*</span>
                            </label>
                            <asp:TextBox ID="txtSSN" MaxLength="4" class="form-control" runat="server"></asp:TextBox>
                            <asp:RequiredFieldValidator ID="RequiredFieldValidator9" ValidationGroup="personal" Display="Dynamic" ControlToValidate="txtSSN" runat="server" ErrorMessage="Please enter SSN"></asp:RequiredFieldValidator>
                            <asp:RegularExpressionValidator ID="RegularExpressionValidator7" runat="server" ControlToValidate="txtSSN"
                                                            ValidationExpression="[0-9]{4}$" ErrorMessage="Enter Valid SSN" ValidationGroup="personal" />
                        </div>
                        <div class="col-md-2" id="maritalDiv" runat="server">
                            <label class="form-label">
                                Marital Status
                            </label>
                            <select class="form-select" runat="server" id="ddlMaritalStatus">
                            </select>
                        </div>
                        <div class="col-md-2" id="educationDiv" runat="server">
                            <label class="form-label">
                                Education
                            </label>
                            <select class="form-select" runat="server" id="ddlEducation">
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label class="form-label">
                                MR#
                            </label>
                            <asp:TextBox ID="txtMRN" class="form-control" runat="server"></asp:TextBox>
                        </div>
                        <div class="col-md-2">
                            <label class="form-label">
                                Height <span style="color: red">*</span>
                            </label>
                            <asp:DropDownList ID="ddlHeight" runat="server" CssClass="form-control">
                                <asp:ListItem Value="0">Select</asp:ListItem>
                                <asp:ListItem Value="1">4 ft</asp:ListItem>
                                <asp:ListItem Value="2">4 ft 1 in</asp:ListItem>
                                <asp:ListItem Value="3">4 ft 2 in</asp:ListItem>
                                <asp:ListItem Value="4">4 ft 3 in</asp:ListItem>
                                <asp:ListItem Value="5">4 ft 4 in</asp:ListItem>
                                <asp:ListItem Value="6">4 ft 5 in</asp:ListItem>
                                <asp:ListItem Value="7">4 ft 6 in</asp:ListItem>
                                <asp:ListItem Value="8">4 ft 7 in</asp:ListItem>
                                <asp:ListItem Value="9">4 ft 8 in</asp:ListItem>
                                <asp:ListItem Value="10">4 ft 9 in</asp:ListItem>
                                <asp:ListItem Value="11">4 ft 10 in</asp:ListItem>
                                <asp:ListItem Value="12">4 ft 11 in</asp:ListItem>
                                <asp:ListItem Value="13">5 ft</asp:ListItem>
                                <asp:ListItem Value="14">5 ft 1 in</asp:ListItem>
                                <asp:ListItem Value="15">5 ft 2 in</asp:ListItem>
                                <asp:ListItem Value="16">5 ft 3 in</asp:ListItem>
                                <asp:ListItem Value="17">5 ft 4 in</asp:ListItem>
                                <asp:ListItem Value="18">5 ft 5 in</asp:ListItem>
                                <asp:ListItem Value="19">5 ft 6 in</asp:ListItem>
                                <asp:ListItem Value="20">5 ft 7 in</asp:ListItem>
                                <asp:ListItem Value="21">5 ft 8 in</asp:ListItem>
                                <asp:ListItem Value="22">5 ft 9 in</asp:ListItem>
                                <asp:ListItem Value="23">5 ft 10 in</asp:ListItem>
                                <asp:ListItem Value="24">5 ft 11 in</asp:ListItem>
                                <asp:ListItem Value="25">6 ft</asp:ListItem>
                                <asp:ListItem Value="26">6 ft 1 in</asp:ListItem>
                                <asp:ListItem Value="27">6 ft 2 in</asp:ListItem>
                                <asp:ListItem Value="28">6 ft 3 in</asp:ListItem>
                                <asp:ListItem Value="29">6 ft 4 in</asp:ListItem>
                                <asp:ListItem Value="30">6 ft 5 in</asp:ListItem>
                                <asp:ListItem Value="31">6 ft 6 in</asp:ListItem>
                                <asp:ListItem Value="32">6 ft 7 in</asp:ListItem>
                                <asp:ListItem Value="33">6 ft 8 in</asp:ListItem>
                                <asp:ListItem Value="34">6 ft 9 in</asp:ListItem>
                                <asp:ListItem Value="35">6 ft 10 in</asp:ListItem>
                                <asp:ListItem Value="36">6 ft 11 in</asp:ListItem>
                                <asp:ListItem Value="37">7 ft</asp:ListItem>
                            </asp:DropDownList>
                            <asp:RequiredFieldValidator ID="RequiredFieldValidator8" ValidationGroup="personal" InitialValue="0"
                                                        Display="Dynamic" ControlToValidate="ddlHeight" runat="server" ErrorMessage="Please select Height"></asp:RequiredFieldValidator>
                        </div>
                        <div class="col-md-2">
                            <label class="form-label">Weight (lbs) <span style="color: red">*</span></label>
                            <asp:TextBox ID="txtWeight" CssClass="form-control" MaxLength="5" placeholder="Weight"
                                         runat="server" requiredrunat="server"></asp:TextBox>
                            <asp:RequiredFieldValidator ID="RequiredFieldValidator7" runat="server" ValidationGroup="personal"
                                                        Display="Dynamic" ControlToValidate="txtWeight" ErrorMessage="Please enter Weight"></asp:RequiredFieldValidator>
                            <asp:RegularExpressionValidator ID="RegularExpressionValidator8" runat="server"
                                                            ControlToValidate="txtWeight" ErrorMessage="Please enter a valid number" ValidationExpression="^[0-9.]*$" ValidationGroup="NumericValidate"></asp:RegularExpressionValidator>
                        </div>
                        <div class="col-md-2">
                            <label class="form-label">
                                Ethnicity <span style="color: red">*</span>
                            </label>
                            <asp:DropDownList ID="ddlrace" runat="server" CssClass="form-select"></asp:DropDownList>
                            <asp:RequiredFieldValidator ID="RequiredFieldValidator1" ValidationGroup="personal" InitialValue="0"
                                                        Display="Dynamic" ControlToValidate="ddlrace" runat="server" ErrorMessage="Please select Ethnicity"></asp:RequiredFieldValidator>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Address 1 <span style="color: red">*</span></label>
                            <asp:TextBox ID="txtAddress1" class="form-control" placeholder="Address 1" runat="server"></asp:TextBox>
                            <asp:RegularExpressionValidator ID="regexEmailValid" runat="server" ValidationExpression="^[a-zA-z0-9-/' ']*$" ControlToValidate="txtAddress1" ErrorMessage="Please enter valid address"></asp:RegularExpressionValidator>
                            <asp:RequiredFieldValidator ID="RequiredFieldValidator10" ValidationGroup="personal" Display="Dynamic" ControlToValidate="txtAddress1" runat="server" ErrorMessage="Please enter Address"></asp:RequiredFieldValidator>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">
                                Address 2
                            </label>
                            <asp:TextBox ID="txtAddress2" class="form-control" placeholder="Address 2" runat="server"></asp:TextBox>
                        </div>
                        <div class="col-md-2">
                            <label class="form-label">
                                City <span style="color: red">*</span>
                            </label>
                            <asp:TextBox ID="txtCity" class="form-control" placeholder="City" runat="server"></asp:TextBox>
                            <asp:RequiredFieldValidator ID="RequiredFieldValidator11" ValidationGroup="personal" Display="Dynamic" ControlToValidate="txtCity" runat="server" ErrorMessage="Please enter City"></asp:RequiredFieldValidator>
                            <asp:RegularExpressionValidator ID="RegularExpressionValidator6" runat="server" ControlToValidate="txtCity"
                                                            ValidationExpression="[a-zA-Z ]*$" ErrorMessage="Enter Valid City" ValidationGroup="personal" />
                        </div>
                        <div class="col-md-2">
                            <label class="form-label">
                                State <span style="color: red">*</span>
                            </label>
                            <asp:DropDownList ID="ddlState" runat="server" CssClass="form-select"></asp:DropDownList>
                            <asp:RequiredFieldValidator ID="RequiredFieldValidator14" ValidationGroup="personal" InitialValue="0"
                                                        Display="Dynamic" ControlToValidate="ddlState" runat="server" ErrorMessage="Please select State"></asp:RequiredFieldValidator>
                        </div>
                        <div class="col-md-2">
                            <label class="form-label">
                                Zip Code <span style="color: red">*</span>
                            </label>
                            <asp:TextBox ID="txtZipCode" MinLength="5" MaxLength="5" class="form-control" placeholder="ZipCode" runat="server"></asp:TextBox>
                            <asp:RequiredFieldValidator ID="RequiredFieldValidator12" ValidationGroup="personal" Display="Dynamic" ControlToValidate="txtZipCode" runat="server" ErrorMessage="Please enter Zip Code"></asp:RequiredFieldValidator>
                            <asp:RegularExpressionValidator ID="regexpcontactZipCode" runat="server" ControlToValidate="txtZipCode"
                                                            ForeColor="Red" Display="Dynamic" ErrorMessage="Only 5 digit Numeric Values" ValidationGroup="personal" ValidationExpression="^[0-9]{5}(?:-[0-9]{4})?$"></asp:RegularExpressionValidator>
                        </div>
                        <div class="col-md-2">
                            <label class="form-label">
                                Country <span style="color: red">*</span>
                            </label>
                            <asp:DropDownList ID="ddlCountry" runat="server" CssClass="form-select"></asp:DropDownList>
                            <asp:RequiredFieldValidator ID="RequiredFieldValidator15" ValidationGroup="personal" InitialValue="0"
                                                        Display="Dynamic" ControlToValidate="ddlCountry" runat="server" ErrorMessage="Please select Country"></asp:RequiredFieldValidator>
                        </div>
                        <div class="col-md-2">
                            <label class="form-label">
                                Cell Phone <span style="color: red">*</span>
                            </label>
                            <asp:TextBox ID="txtCellPhone" class="form-control" placeholder="ex.7137891234" CssClass="form-control" MaxLength="13"
                                         ng-minlength="10" runat="server"></asp:TextBox>
                            <asp:RequiredFieldValidator ID="RequiredFieldValidator13" ValidationGroup="personal"
                                                        Display="Dynamic" ControlToValidate="txtCellPhone" runat="server" ErrorMessage="Please enter Cell Number"></asp:RequiredFieldValidator>
                            <asp:RegularExpressionValidator ID="RegularExpressionValidator4" runat="server" ControlToValidate="txtCellPhone"
                                                            ValidationExpression="^[0-9]{10}$" ErrorMessage="Cell Phone must be numeric & 10 digits in length." Display="Dynamic" ValidationGroup="personal" />
                        </div>
                        <div class="col-md-2">
                            <label class="form-label">
                                Work Phone
                            </label>
                            <asp:TextBox ID="txtWorkPhone" class="form-control" placeholder="ex.7137891234" CssClass="form-control" MaxLength="13"
                                         ng-minlength="10" runat="server"></asp:TextBox>
                            <asp:RegularExpressionValidator ID="RegularExpressionValidator1" runat="server" ControlToValidate="txtWorkPhone"
                                                            ValidationExpression="^\d{10}(\d{3})?$" ErrorMessage="Work Phone must be numeric & 10 digits in length." Display="Dynamic" ValidationGroup="personal" />
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">
                                Email <span style="color: red">*</span>
                            </label>
                            <asp:TextBox ID="txtEmail" class="form-control" placeholder="Email ID" runat="server"
                                         ReadOnly></asp:TextBox>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-4 mb-4">
                <div class="card-header">
                    <h3 class="card-title" style="color: #1434A4;">Patient/Parent/Guardian</h3>
                </div>
                <div class="card-body row g-3">
                    <div class="form-check col-md-6">
                        <input type="radio" runat="server" id="chkIsFather" groupname="one" checked="true" />
                        <label class="form-label" for="flexRadioDefault1">
                            I am the Patient
                        </label>
                    </div>
                    <div class="form-check col-md-6">
                        <input type="radio" runat="server" id="chkIsMother" groupname="one" />
                        <label class="form-label" for="flexRadioDefault2">
                            I am the Parent/Guardian
                        </label>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label">Reason for Guardianship (Minor Child, Parent, etc )</label>
                        <asp:TextBox ID="txtReasonGuardianship" CssClass="form-control" MaxLength="100" runat="server"></asp:TextBox>
                    </div>
                </div>
            </div>
            <div class="row g-3 mt-1 mb-1 d-print-none justify-content-lg-end">
                <div class="col-md-4"></div>
                <div class="col-md-3">
                    <a href="Javascript:void(0)" class="btn btn-rounded btn-secondary btn-wave" id="btnPrint" runat="server"><i class="fa fa-print" aria-hidden="true"></i>Print This Page</a>
                </div>
                <div class="col-md-2">
                    <a href="phr_index.html">
                        <asp:LinkButton ID="btnCancel" class="btn btn-rounded btn-warning btn-wave" runat="server" OnClick="btnCancel_Click"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back</asp:LinkButton>
                </div>
                <div class="col-md-2">
                    <asp:Button ID="btnSave" class="btn btn-rounded btn-success btn-wave" runat="server" Text="Next" OnClick="btnSave_Click" ValidationGroup="personal" />
                </div>
            </div>
        </form>

    </div>
</div>
