@model Docttors_portal.Common.Models.PatientSearchModel
@{
    ViewBag.Title = "SearchPatient";
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";
}

<div class="card">
    <div class="card-header" style="background-color: #1434A4;">
        <h3 class="card-title text-white">SEARCH PATIENT/FOLLOW UP</h3>
    </div>
    <div class="card-body">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Search by Basic Info</h3>
            </div>
            @using (Html.BeginForm("SearchPatient", "Doctor", FormMethod.Post))
            {
                <div class="card-body row g-3">
                    <div class="col-md-6">
                        <label for="">First Name</label>
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                    </div>
                    <div class="col-md-6">
                        <label for="">Last Name</label>
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                    </div>
                    <div class="col-md-6">
                        <label for="">Date Of Birth</label>
                        @Html.TextBoxFor(m => m.DOB, new { @class = "datepicker form-control",name= "datepicker", type = "date" })
                    </div>
                    <div class="col-md-6">
                        <label for="">MR#</label>
                        @Html.TextBoxFor(m => m.MR, new { @class = "form-control" })
                    </div>
                    <div class="row justify-content-center mt-4">
                        <div class="col-lg-10"></div>
                        <div class="ol-auto col-sm-auto col-md-auto col-lg-auto">
                            <input type="submit" value="Submit" class="btn btn-primary btn-block" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>
}
